.page .page__content {
  overflow-x: hidden;
}

.markdown-text {
  word-break: break-all;
}

.markdown-text > :last-child {
  margin-bottom: 1em;
}

.markdown-text > :first-child {
  margin-top: 0;
}

.markdown-text h1,
.markdown-text h2,
.markdown-text h3,
.markdown-text h4,
.markdown-text h5,
.markdown-text h6 {
  margin: 30px 0 15px;
  font-weight: 700;
  line-height: 20px;
  text-rendering: optimizelegibility;
  border-bottom: 1px solid #eee;
}

.markdown-text h1,
.markdown-text h2,
.markdown-text h3 {
  line-height: 40px;
}

.markdown-text h1 {
  font-size: 32.5px;
}

.markdown-text h2 {
  font-size: 26px;
}

.markdown-text h3 {
  font-size: 24.5px;
}

.markdown-text h4 {
  font-size: 17.5px;
}
.markdown-text h5 {
  font-size: 14px;
}

.markdown-text h6 {
  font-size: 11.9px;
}

.markdown-text pre {
  white-space: pre-wrap;
}

.markdown-text h1 code,
.markdown-text h2 code,
.markdown-text h3 code,
.markdown-text h4 code,
.markdown-text h5 code,
.markdown-text h6 code {
  font-size: inherit;
  color: inherit;
}

.markdown-text p {
  margin: 1em 0;
  font-size: 15px;
  line-height: 1.7em;
}

.markdown-text blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

.markdown-text ul {
  padding: 0;
  margin: 0 0 10px 25px;
}

.markdown-text li {
  font-size: 14px;
  line-height: 2em;
}

.markdown-text li code,
.markdown-text p code {
  color: #000;
  background-color: #fcfafa;
  padding: 4px 6px;
}

.markdown-text pre.prettyprint {
  font-size: 14px;
  border-radius: 0;
  padding: 0 15px;
  border: none;
  margin: 20px -10px;
  border-width: 1px 0;
  background: #f7f7f7;
  tab-size: 4;
}

.markdown-text hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.markdown-text img {
  cursor: pointer;
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.markdown-text a {
  color: #08c;
  text-decoration: none;
}
